/* || FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@500&family=Work+Sans:wght@500&display=swap');

/* || GENERAL */
* {
	box-sizing: border-box;
}

html {
	background: white;
	font-size: 14px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	text-size-adjust: none; /* untuk mencegah pembesaran font di browser ponsel */
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
}
